html
  head
    title Git Eye
    meta(name="robots" content="noindex")
    link(rel="stylesheet" href="/static/style.css")
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    script(src="/static/script.js")
  body
    .container
      header
        h1 Git Eye
        p= repositoryPath