- var filesCaption = 'files';
- var commitsCaption = 'commits';
- var filesMode = (mode == 'files');
- var commitsMode = (mode == 'commits');
ul.Tabs
  li.Tabs-Tab(class=filesMode ? 'Tabs-Tab_selected' : '')
    if (!filesMode)
      a(href='/' + branch + '/files')= filesCaption
    else
      = filesCaption
  li.Tabs-Tab(class=commitsMode ? 'Tabs-Tab_selected' : '')
    if (!commitsMode)
      a(href='/' + branch + '/commits')= commitsCaption
    else
      = commitsCaption
