html
  head
    title Git Eye
  body
    h2= branch
    ul
      li 
        a(href='/' + basePath + '/..') ..
      each c in commits
        li
          a(href='/' + basePath + '/' + c.id)= c.date
          span= c.subject
          a(href='mailto:' + c.email)= c.name
          
