html
  head
    title Git Eye
  body
    h2 --
    include _branches.pug
    include _tabs.pug
    ul
      each c in commits
        li
          a(href='/' + branch + '/commits/' + c.id)= c.date
          span= c.subject
          a(href='mailto:' + c.email)= c.name
          
