include _header.pug
.container
  main
    include _branches.pug
    include _tree.pug
    .MainBlock
      .MainBlock-Header
        .Breadcrumbs
            span.Breadcrumbs-Item= branch
        include _tabs.pug
      ul.Commits
        each c in commits
          li.Commits-Commit
            a.Commits-Subject(href='/' + encodeURIComponent(branch) + '/commits/' + c.id)= c.subject
            span.Commits-Date= c.date
            a.Commits-Committer(href='mailto:' + c.email)= c.name