html
  head
    title Git Eye
  body
    h2= branch
    include _branches.pug
    include _tabs-files.pug
    p
      a(href='/' + branch + '/files/' + path + '/..') ..
    p
      a(href='/' + href) Download
