include _header.pug
.container
  main
    include _branches.pug
    include _tree.pug
    .MainBlock
      .MainBlock-Header
        include _breadcrumbs.pug
        include _tabs.pug
      ul.Files
        if path != ''
          - path = path + '/';
          li.Files-File
            a.Files-Link(href='/' + tree + '/files/' + path + '..') ..
        li.Files-Contents 
          img.Files-Image(src='/' + src)