html
  head
    title Git Eye
  body
    h2 Branches
    ul
      each b in branches
        li 
          if b.isActive
            = b.name
          else
            a(href='/' + b.name+ '/files')= b.name